@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configurações globais */
html { 
  scroll-behavior: smooth; 
}

/* Barra de rolagem personalizada */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #00ffcc; }